# This is an example service file for executing a Watchdogs-style loading
# animation during startup.
# 
# You will need to modify the ExecStart and ExecStop attributes below to change
# the behaviour of this service after the watchdogs.py executable has finished.
#
# You will also need to modify the ExecStartPre attributes below to provide the
# correct path to the watchdogs.py executable.
#
# To use this service file, follow the steps below:
# 1: sudo mv /path/to/watchdogs.service /etc/systemd/system/
# 2: sudo systemctl enable watchdogs.service
# 3: sudo systemctl start watchdogs.service

[Unit]
Description=Adafruit SSD1306 Watchdogs Loading Service
After=syslog.target

[Service]
# modify this to match the directory containing watchdogs.py
ExecStartPre=/usr/bin/python /home/endom8rix/Documents/EndoM8rix/EndoM8rix_Python_SSD1306/apps/watchdogs.py

# modify this to alter the behaviour when the service is started, and the loading animation is complete
ExecStart=/usr/bin/python /home/endom8rix/Documents/Adafruit/Adafruit_Python_SSD1306/examples/stats.py

# modify this to alter the behaviour when the service is stopped
ExecStop=/usr/bin/python /home/endom8rix/Documents/Adafruit/Adafruit_Python_SSD1306/examples/clear.py

Restart=always
	RestartSec=10

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=watchdogs-service

Nice=-20

[Install]
WantedBy=multi-user.target
