# This is an example service file for executing a Watchdogs-style loading
# animation during startup.
# 
# You will need to modify the ExecStart and ExecStop attributes below to change
# the behaviour of this service.
#
# To use this service file, follow the steps below:
# 1: sudo mv /path/to/watchdogs.service /etc/systemd/system/
# 2: sudo systemctl enable watchdogs.service
# 3: sudo systemctl start watchdogs.service

[Unit]
Description=Adafruit SSD1306 Watchdogs Loading Service
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=true

# modify this to alter the behaviour when the service is started
ExecStart=/usr/bin/python /home/endom8rix/Documents/EndoM8rix/RPiZero-Toolbox/watchdogs.py

# modify this to alter the behaviour when the service is stopped
ExecStop=/usr/bin/python /home/endom8rix/Documents/EndoM8rix/RPiZero-Toolbox/reset.py

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=watchdogs-service

Nice=-19

[Install]
WantedBy=multi-user.target
